.center-horizontally {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modifier {
    justify-content: center;
    align-items: center;
    display: flex;
}


.wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 20%;

  margin: 0 auto;
  padding-left: 10%;
}


.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;

  width: 90%;
  height: 50px;
  border-radius: 8px;
}

.custom-parent {
  color: #de1e7e;
  display: flex;
  align-items: center;
  justify-content: center;
}

