.match-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 15px;
}


.match-item:hover {
  cursor: pointer;
  transition: (1.05);
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo img {
  max-width: 40px;
  max-height: 40px;
}


.match-info {
  text-align: center;
  flex-grow: 1;
  padding: 0 10px;
}

